/* Estilos generales */
.album-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Galería de imágenes */
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  
  .image-container {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container:hover {
    transform: scale(1.05);
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  
  /* Botón de cargar más */
  .load-more {
    margin-top: 20px;
    padding: 15px !important;
    border: none;
    background:red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .load-more:hover {
    background: darkred;
  }
  
  /* Lightbox */
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .lightbox-content {
    position: relative;
    background: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(90px, 90px);
  }
  
  .lightbox img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-200px, 60px);
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .arrow:hover{
    background: transparent; 
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .download-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .download-btn:hover {
    background: darkred;
  }
