
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: black; 
    color: white; 
    padding: 10px 70px; 
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw; 
    font-family: 'Helvetica', sans-serif;
    z-index: 1000;

}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 0 50px; 
}

.navbar-brand {
    display: flex;
    align-items: center; 
}

.navbar-brand img {
    width: 100px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.02);
}


.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px; 
    list-style: none;
    padding: 0px 40px;
    margin: 0 auto
}

.nav-item {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 16px; 
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    transform: scale(1.1);
    color: red !important;
}

.login-icon a {
    color: white; /* Cambia el color del enlace */
    text-decoration: none; /* Elimina el subrayado */
}

.login-icon {
    color: white ;
    font-size: 35px;
    padding: 15px;
    cursor: pointer; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .login-icon ion-icon.logged-in {
    color: #0cc0df !important;
    --ionicon-stroke: #0cc0df !important;
}



.login-icon :hover{
    transform: scale(1.1);
    color: red !important;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .container-fluid {
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
