footer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100vw;
}


footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    font-size: 1rem;
    margin: 5px 0;
}

.redes IonIcon {
    font-size: 35px;
    padding: 15px; 
}